@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: #df453e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

.btn:hover {
  border: 1px solid #df453e;
  background-color: transparent
}

.capital { text-transform: uppercase; }


h2,
h3 { 
  font-style: italic;
  font-weight: 600;
}
/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 88%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hompage-header .wrapper,
.contactpage-header .wrapper,
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu a { transition: all 0.3s; }
.nav-menu a:hover { color: #df453e; }

.hompage-header a,
.contactpage-header a {
  color: #fff;
}

.hompage-header,
.contactpage-header {
  width: 100%;
  position: absolute;
  top: 3%;
  left: 0%;
  z-index: 10;
}

.head-nav { 
  flex-basis: 45%; 
  font-size: 16px;
  font-weight: 600;
}

.hamburger { display: none; }

.addto {
  display: flex;
  align-items: center;
  gap: 5px;
}

.addto::after { 
  font-family: "FontAwesome";
  content: "\f290";
  color: #fff;
  font-size: 25px;
  text-indent: 0;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling starts */
.banner { position: relative; }

.homepage .banner-content {
  position: absolute;
  top: 0;
  height: 965px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  background-image: linear-gradient(to right, rgba(23, 26, 26, 0.5) 50%, rgba(255, 83, 79, 0.5) 50%);
  z-index: 1; 
}

.homepage .banner-content .wrapper {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 50%;
  color: #fff;
}

.banner-content h2 {
  font-size: 30px;
  font-weight: 600;
  font-style: oblique;
}

.description {
  width: 50%;
  display: block;
  padding: 10px 0 20px 0;
  font-size: 60px;
}

.specifications span {
  font-size: 20px;
  font-weight: 600;
  font-style: oblique;
}

.specifications ul {
  padding: 15px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}

.specifications ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.specifications ul li::before { 
  font-family: "FontAwesome";
  content: "\f140";
  color: #fff;
  text-indent: 0;
}
/* banner section styling starts */
/* arrivals section styling starts */
.arrivals { 
  margin: 100px auto;
  position: relative;
 }

.arrival-heading {
  display: block;
  padding: 10px 0;
  color: #b0b3b7;
  font-size: 15px;
}

.arrival h4 {
  padding-bottom: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
}

.arrival .stars { display: flex; }

.arrival .stars li {
  display: flex;
  text-indent: -9999px;
}

.arrival .stars li::after { 
  font-family: "FontAwesome";
  content: "\f005";
  color: #4b4f58;
  font-size: 15px;
  text-indent: 0;
}

.bicycle-price {
  display: block;
  padding-top: 5px;
  color: #4b4f58;
  font-size: 15px;
}

.slick-slide { margin-right: 20px; }

.slick-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.slide-area { position: relative; }

.slide-area .slick-arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: -20px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: #0e1111;
  font-family: "FontAwesome";
  text-indent: -9999px;
  transition: all 0.3s;
  cursor: pointer;
}

.slide-area .slick-arrow:hover { 
  border: 1px solid #0e1111;
  background: #fff;
 }

 .slide-area .slick-arrow:hover::before { color: #0e1111; }

.slide-area .slick-arrow::before {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-indent: 0;
  transition: all 0.3s;
}

.slide-area .slick-arrow.slick-next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: auto;
  right: 0;
}

.slide-area .slick-next::before { content: "\3e"; }
.slide-area .slick-prev::before { content: "\3c"; }

.arrivals h3 {
  padding-bottom: 50px;
  font-size: 50px;
  text-align: center;
}

/* modal styling */
/* ------------modal styling--------------------- */
.modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-wrapper {
	width: 400px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-modal-btn{
  display: flex;
  background-color: transparent;
  border: none;
  text-indent: -9999px;
}

.close-modal-btn::before {
  font-family: "FontAwesome";
  content: "\f00d";
  color: #fff;
  font-size: 25px;
  text-indent: 0;
}

.close-btn-wrapper {
	display: flex;
  justify-content: flex-end;
}

.modal-content {
	margin: 20px auto;
	max-width: 210px;
	width: 100%;
}

.hide {
	display: none;
}
/* arrivals section styling ends */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}  