@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn {
  padding: 13px 23px;
  border: 1px solid transparent;
  background-color: #df453e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

.btn:hover {
  border: 1px solid #c4180f;
  background-color: #c4180f
}

.capital { text-transform: uppercase; }


h2,
h3,
h4 { 
  font-style: italic;
  font-weight: 600;
}
/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hompage-header .wrapper,
.contactpage-header .wrapper { width: 88%; }

.hompage-header .wrapper,
.contactpage-header .wrapper,
.nav-menu,
.bicyclepage-header .wrapper,
.accessorypage .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bicyclepage-header,
.accessorypage { 
  padding: 15px 0;
  background-color: #df453e;
 }

.nav-menu a { transition: all 0.3s; }
.nav-menu a:hover { color: #df453e; }
.bicyclepage-header .nav-menu a:hover,
.accessorypage .nav-menu a:hover { color: #D3D3D3; }

.hompage-header a,
.contactpage-header a,
.bicyclepage-header a,
.accessorypage a { color: #fff; }

.hompage-header,
.contactpage-header {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0%;
  z-index: 10;
}

.head-nav,
.bicyclepage-header .head-nav { 
  flex-basis: 45%; 
  font-size: 16px;
  font-weight: 600;
}

.hamburger { display: none; }

.addto {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.addto::after { 
  font-family: "FontAwesome";
  content: "\f290";
  color: #fff;
  font-size: 35px;
  text-indent: 0;
  transition: all 0.3s;
}

.addto:hover::after { color: #D3D3D3; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling starts */
.banner { 
  position: relative;
  height: 100%;
 }

/* .banner-content {
  position: absolute;
  top: 10%;
  left: 3%;
  color: #fff;
}

.banner-img {
  position: relative; 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner-img::before {    
  content: "";
  background-image: linear-gradient(to right, rgba(23, 26, 26, 0.5) 50%, rgba(255, 83, 79, 0.5) 50%), url("/assets/images/bike-hero.jpg");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.banner-content { 
  position: relative; 
  color: #fff;
} */

.homepage .banner-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  background-image: linear-gradient(to right, rgba(23, 26, 26, 0.5) 50%, rgba(255, 83, 79, 0.5) 50%);
  z-index: 1; 
}

.banner-img { height: 100%; }

.homepage .banner-content .wrapper {
  position: absolute;
  top: 100px;
  left: 70px;
  color: #fff;
}

.banner-content h2 {
  font-size: 30px;
  font-weight: 600;
  font-style: oblique;
}

.description {
  width: 37%;
  display: block;
  padding: 15px 0 30px 0;
  font-size: 70px;
}

.specifications span {
  font-size: 20px;
  font-weight: 600;
  font-style: oblique;
}

.specifications ul {
  padding: 15px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}

.specifications ul li {
  display: flex;
  gap: 15px;
}

.specifications ul li::before { 
  font-family: "FontAwesome";
  content: "\f140";
  color: #fff;
  text-indent: 0;
}
/* banner section styling starts */

/* arrivals section styling starts */
.arrivals { 
  margin: 100px auto;
  position: relative;
 }

.arrival-heading {
  display: block;
  padding: 10px 0;
  color: #b0b3b7;
  font-size: 14px;
  font-weight: 600;
}

.arrival h4 {
  padding-bottom: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
}

.arrival .stars { display: flex; }

.arrival .stars li {
  display: flex;
  text-indent: -9999px;
}

.arrival .stars li::after { 
  font-family: "FontAwesome";
  content: "\f005";
  color: #4b4f58;
  font-size: 13px;
  text-indent: 0;
}

.arrival2 .stars li:nth-child(5):after { color: #b0b3b7;}
.arrival3 .stars li:nth-child(4):after { color: #b0b3b7;}
.arrival3 .stars li:nth-child(5):after { color: #b0b3b7;}

.bicycle-price {
  display: block;
  padding-top: 5px;
  color: #4b4f58;
  font-size: 14px;
  font-weight: 600;
}

.slick-slide { margin-right: 20px; }

.slick-slide img {
  display: block;
  object-fit: cover;
  width: 278px;
  height: 278px;
}

.slide-area { position: relative; }

.slide-area .slick-arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: -20px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: #0e1111;
  font-family: "FontAwesome";
  text-indent: -9999px;
  transition: all 0.3s;
  cursor: pointer;
}

.slide-area .slick-arrow:hover { 
  border: 1px solid #df453e;
  background: #df453e;
 }

.slide-area .slick-arrow::before {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-indent: 0;
  transition: all 0.3s;
}

.slide-area .slick-arrow.slick-next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: auto;
  right: 0;
}

.slide-area .slick-next::before { content: "\3e"; }
.slide-area .slick-prev::before { content: "\3c"; }

.arrivals h3 {
  padding-bottom: 50px;
  font-size: 50px;
  text-align: center;
}

/* modal styling */
/* ------------modal styling--------------------- */
.modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-wrapper {
	width: 400px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-modal-btn{
  display: flex;
  background-color: transparent;
  border: none;
  text-indent: -9999px;
}

.close-modal-btn::before {
  font-family: "FontAwesome";
  content: "\f00d";
  color: #fff;
  font-size: 25px;
  text-indent: 0;
}

.close-btn-wrapper {
	display: flex;
  justify-content: flex-end;
}

.modal-content {
	margin: 20px auto;
	max-width: 210px;
	width: 100%;
}

.hide {
	display: none;
}
/* arrivals section styling ends */

/* mountain bikes, city bikes, speciality bikes section styling starts */
.moutain-bikecontent span,
.city-bikecontent span,
.speciality-bikecontent span {
  font-size: 18px;
  font-style: oblique;
  font-weight: 600;
}

.moutain-bikecontent h3,
.city-bikecontent h3,
.speciality-bikecontent h3 {
  padding: 30px 0;
  font-size: 36px;
}

.moutain-bikecontent p,
.city-bikecontent p,
.speciality-bikecontent p { 
  width: 68%;
  font-size: 16px; 
  line-height: 1.7;
}

.content-list {
  padding: 35px 0;
  display: flex;
  gap: 50px;
}

.content-list ul {
  padding: 15px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}

.content-list ul li {
  display: flex;
  gap: 15px;
}

.content-list ul li::before { 
  font-family: "FontAwesome";
  content: "\f140";
  color: #df453e;
  text-indent: 0;
}

.mountain-bikeimg,
.city-bikeimg,
.speciality-bikeimg {
  position: relative; 
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.mountain-bikeimg::before,
.city-bikeimg::before,
.speciality-bikeimg::before {    
  content: "";
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.mountain-bikeimg::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/moutain-bike.jpg"); }
.city-bikeimg::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/city-bike.jpg"); }
.speciality-bikeimg::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/speciality-bike.jpg"); }

.moutain-bikecontent,
.city-bikecontent,
.speciality-bikecontent { 
  position: relative; 
  padding-left: 25px;
  color: #fff;
}

/* mountain bikes, city bikes, speciality bikes section styling ends */

/* why choose kryo styling starts */
.why-us { padding: 90px 0; }

.why-us h3 {
  padding-bottom: 50px;
  font-size: 50px;
  text-align: center;
}

.service-one,
.service-two {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.service {
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.service::before {    
  content: "";
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.service-one .service { height: 400px; }
.service-two .service { height: 225px; }

.light-weight::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/kryo1.jpg"); }
.warrenty::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/kryo2.jpg"); }
.network::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/kryo3.jpg"); }
.delivery::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/kryo4.jpg"); }
.free::before { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/kryo5.jpg"); }

.service-content { 
  position: relative; 
  padding: 35px 50px;
  color: #fff;
}

.service-one .service-content h4 {
  padding-bottom: 10px;
  font-size: 28px;
 }

.service-two .service-content h4 { font-size: 18px; }

.service-content p {
  font-size: 16px;  
  line-height: 1.5;
}
/* why choose kryo styling ends */

/* explore accessories styling starts */
.explore-accessories { padding-bottom: 90px; }

.explore-accessories .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accessories-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.accessory-list { flex-basis: 23%; }

.accessories-heading{
  display: block;
  padding: 10px 0;
  color: #b0b3b7;
  font-size: 14px;
  font-weight: 600;
}

.accessory-list h4 {
  padding-bottom: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
}

.accessory-list .stars { display: flex; }

.accessory-list .stars li {
  display: flex;
  text-indent: -9999px;
}

.accessory-list .stars li::after { 
  font-family: "FontAwesome";
  content: "\f005";
  color: #4b4f58;
  font-size: 13px;
  text-indent: 0;
}

.gold .stars li:nth-child(5):after { color: #b0b3b7;}
.pink .stars li:nth-child(4):after { color: #b0b3b7;}
.pink .stars li:nth-child(5):after { color: #b0b3b7;}

.accessories {
  display: block;
  padding: 5px 0 15px;
  color: #4b4f58;
  font-size: 14px;
  font-weight: 600;
}

.sizes {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sizes a {
  padding: 5px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: #4b4f58;
  font-size: 12px;
  transition: all 0.3s;
}

.sizes a:hover {
  border: 1px solid #0e1111;
  background-color: #0e1111;
  color: #fff;
}

.explore-accessories h3 {
  padding-bottom: 50px;
  font-size: 50px;
}

.view { margin-top: 40px; }
/* explore accessories styling ends */

/* programme section styling starts */
.programme { 
  padding: 100px 0;
  background-color: #f5f5f5;
 }

.programme .wrapper { width: 73%; }

.programme h3 {
  padding-bottom: 50px;
  font-size: 50px;
  text-align: center;
}

.programme-img {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.programme-img::before {    
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/join-programme.jpg");
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.programme-content { 
  position: relative; 
  padding: 35px 50px;
  color: #fff;
}

.programme h4 {
  font-size: 28px; 
  line-height: 1.2;
} 

.playvideo {
  display: flex;
  padding-bottom: 25px;
  text-indent: -9999px;
}
  
.playvideo::after { 
  font-family: "FontAwesome";
  content: "\f144";
  color: #fff;
  font-size: 60px;
  text-indent: 0;
}

.programme-info {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information { flex-basis: 48%; }
.information h4 { padding-bottom: 15px; }

.information p {
  font-size: 16px;
  color: #555768;
  line-height: 1.5;
}
/* programme styling ends */

/* shop now section styling starts */
.shopnow-img {
  position: relative; 
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopnow-img::before {    
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/images/bike-hero.jpg");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.shopnow-content .wrapper {
  position: relative;
  width: 74%;
  color: #ffffff;  
  font-size: 15px;
  line-height: 0.9;
  text-align: center;
}

.shopnow-content h3 {
  padding: 30px 0; 
  font-size: 50px; 
}

.shopnow-content span {
  display: block;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
}

.shopnow-content p {
  padding-bottom: 35px;
  font-size: 17px;
  line-height: 1.5;
}
/* shop now section styling ends */

/*-----------------contactpage main sections styling stats------------------------ */
.contactpage .banner-img img { height: 407px; }

.contactpage .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactpage .banner-content h2 {
  color: #fff;
  font-size: 80px;
  font-weight: bold;
}

#googleMap iframe{
  width: 100%;
  height: 385px;
}

.related-queries {
  display: flex;
  align-items: center;
  height: 441px;
}

.related-queries .wrapper { width: 71%; }

.related-queries ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.related-queries li span{
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-indent: -9999px;
}

.related-queries li span::after { 
  font-family: "FontAwesome";
  color: #df453e;
  font-size: 30px;
  text-indent: 0;
}

.sales-icon::after {  content: "\f0d1"; }
.service-icon::after {  content: "\f0b1"; }
.deal-icon::after {  content: "\f0b1"; }

.call {
  padding-bottom: 10px;
  color: #000;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
}

.related-queries h3 {
  font-size: 16px;
  color: #7d8389;
  font-style: normal;
}

/* contact details section styling starts */
.contact-details {
  position: relative;
  padding: 100px 0;
  background-color: #f5f5f5;
}

.contact-details .wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-details form { 
  position: absolute;
  bottom: 24%;
  padding: 70px 62px 80px;
  flex-basis: 40%; 
  background-color: #fff;
  box-shadow: 0px 4px 5px #D3D3D3;
}

.contact-details form h3 {
  padding-bottom: 40px;
  font-size: 40px;
}


.detail-info { flex-basis: 41%; }

.detail-info h3 {
  padding-bottom: 40px;
  font-size: 40px;
}

.info {
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.info:last-child { padding-bottom: 0; }

.info h4 {
  padding-bottom: 20px;
  font-size: 20px;
}

.info span,
.info address {
  padding-bottom: 10px;
  color: #4b4f58;
  font-size: 16px;
}

.contactus a { 
  color: #4b4f58; 
  transition: all 0.3s;
}

.contactus a:hover { color: #c4180f; }

.detail input[type=text], textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #DADADA;
  background-color: #fafafa;
  box-sizing: border-box;
}

textarea { resize: none; }

.detail form ::placeholder { 
  color: #787a8b;
  font-size: 17px;
}

.names {
  display: flex;
  gap: 20px;
}

.firstname,
.lastname { flex-basis: 50%; }

.input-border {
  border: 1.5px solid #FF0000;
  border-radius: 2px;
}
.div-span {
  display: block;
  padding-bottom: 10px;
  color: #FF0000;
  font-size: 10px;
}
/*-----------------contactpage main sections styling ends------------------------ */

/* ----------------bicycle page main styling starts------------------------------ */
.products {
  padding: 60px 0;
  background-color: #f5f5f5;
}

.products .wrapper {
  width: 95%;
  margin: 0 auto;
}

.filtercontainer {
  display: flex;
  gap: 30px;
}

.filter-content {
  padding: 90px;
  flex-basis: 56%;
  background-color: #fff;
  }

.filter-content .wrapper { width: 100%; }

.sidebar { 
  flex-basis: 28%; 
  color: #51535a;
}

.searchfield {
  display: flex;
  gap: 5px;
}

.searchtext {
  display: block;
  padding-bottom: 4px;
  font-size: 17px;
}

.filtertext {
  display: block;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}

  

.searchbox,
.price,
.category {
  padding: 35px 25px;
  margin-bottom: 20px;
  background-color: #fff;
}

.searchfield input[type=text] {
  width: 100%;
  padding: 13px 10px;
  display: inline-block;
  border: 1px solid #DADADA;
}

.searchfield ::placeholder { 
  color: #66666b;
  font-size: 16px;
  font-weight: 600;
}

.submit-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 45px;
  border: 1px solid transparent;
  background-color: #df453e;
  text-indent: -9999px;
}

.submit-arrow::after { 
  font-family: "FontAwesome";
  content: "\3e";
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-indent: 0;
  transition: all 0.3s;
}

.products-info {
  padding: 50px 0;
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}

.products-info > li { flex-basis: 30%; }
.products-info img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.range {
  padding-bottom: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.range input[type=range] {
  width: 100%;
  height: 7px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: 0;
  pointer-events: none;
  -webkit-appearance: none;
}

.range input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }
.range input[type=range]:active,
.range input[type=range]:focus { outline: 0; }

.range input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  outline: 0;
  pointer-events: none;
}
.range input[type=range]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border: 0;
  border: 7px solid #df453e;
  border-radius: 50%;
  margin: 0;
  margin-top: -4px;
  position: relative;
  z-index: 100;
  background-color: #df453e;
  cursor: pointer;
  outline: 0;
  pointer-events: all;
  -webkit-appearance: none;
}
.range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #df453e;
  cursor: pointer;
}
.range input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}
.range input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}
.range input[type=range] {
  width: 100%;
  position: absolute;
}
.min { left: -2%; }
.max { right: 0%; }

.low-high { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  font-size: 15px;
  font-weight: 600;
 }
/* filter price range end */
.filter-navigation h2 {
  padding-bottom: 25px;
  color: #77777b;
  font-size: 15px;  
  font-style: normal;
}

.filter-navigation h2 a { 
  color: #77777b;
  transition: all 0.3s;
 }

.filter-navigation h2 a:hover { color: #c4180f; }

.filter-content h3 {
  padding-bottom: 35px;
  color: #df453e;
  font-size: 30px;
}

.dropdown { 
  position: relative; 
  flex-basis: 30%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 25px;
  left: 2px;
  width: 100%;
  background-color: #51535a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content.show a {
  float: none;
  display: block;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  transition: all 0.5s;
}

.dropdown-content a:hover {
  padding: 15px;
  background-color: #ddd;
  color: #000;
}

.show { display: block; }

.dropbtn {
  display: flex;
  justify-content: space-between;
  color: #4b4f58;
  transition: all 0.3s;
}

.dropbtn:hover,
.dropbtn:hover::after { color: #000; }

.dropbtn::after { 
  font-family: "FontAwesome";
  content: "\f107";
  color: #808fa0;
  text-indent: 0;
  transition: all 0.3s;
}

.results {
  display: flex;
  justify-content: space-between;
  color: #4b4f58;
  font-size: 16px;
}

.category h3,
.filtertext { padding-bottom: 25px; }
.apply { 
  position: relative;
  left: 66%;
  background-color: #32373c;
 }

 .category-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
 }

 .category-list a { color: #c4180f; }
 .category { padding-bottom: 45px; }
/* ----------------bicycle page main styling ends---------------------------------*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background-color: #161616; }
.footer-list {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer a { transition: all 0.3s; }
footer a:hover { color: #df453e; }

footer a,
footer p,
.footer-links h4 { color: #fff; }

.copyrights .wrapper {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights::before {
  display: inline-block;
  content: "";
  width: 100%;
  border-top: 1px solid #2d2d2d;
}

footer p { font-size: 15px; }
.footer-links h4 { font-size: 20px; }
.footer-list li { flex-basis: 30%; }

.footersocial {
  display: flex;
  align-items: center;
  gap: 15px;
  text-indent: -9999px;
}

.footersocial::after { 
  font-family: "FontAwesome";
  color: #fff;
  font-size: 17px;
  text-indent: 0;
  transition: all 0.3s;
}

.footersocial:hover::after { color: #df453e; }

.facebook:after { content: "\f09a"; }
.twitter:after { content: "\f099"; }
.instagram:after { content: "\f16d"; }
.youtube:after { content: "\f167"; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .footer-list li { flex-basis: 22%; }
}  

@media only screen and (max-width: 768px) {
  .footer-list li { flex-basis: 55%; }
  .footer-logo { padding-bottom: 10px; }
  .footer-list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px 0 15px;
    text-align: center;
  }

  .copyrights .wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .footersocial-icons {
    display: flex;
    gap: 15px;
  }

  footer p { font-size: 13px; }
} 